<link rel="stylesheet" href="/css/style.css" />
<footer>
    <div class="about">
      <h1><span class="logo-text">Novotek </span> <span>Blog</span></h1>
      <p>
        Whether sharing your expertise, breaking news, or whatever’s on your mind, you’re in good company on Novotek
      </p>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          + (91) 78085 34717
          <i class="fas fa-phone"></i>
          + (91) 93306 43384
        </span>
        <span>
          <i class="fas fa-envelope"></i>

          <a href="mailto:support@inovotek.com">
            support@inovotek.com
          </a>
        </span>

      </div>
      <!-- socials -->
      <div class="socials">

        </a>
        <a href="https://www.playstore.com">
          <i class="fab fa-google-play"></i>
        </a>
        <a href="https://www.youtube.com">
          <i class="fab fa-youtube"></i>
        </a>

        <a href="https://www.instagram.com">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.twitter.com">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com">
          <i class="fab fa-facebook"></i>
        </a>
      </div>


      <div class="Managed">
        <span>Created and managed by <a href="#"> Sonal - Shubhakar</a> |
          <span class="fas-fa-copyright">2023 All
            rights
            reserved.</span>

        </span>
      </div>

  </footer>